@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body{
    background-image: url("../assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
}
main img{
    width: 100%;
}
button{
    max-width: 350px;
    width: 85%;
    height: 80px;
    background: rgb(9,9,121);
    border: none;
    border-top:3px gold solid;
    border-bottom:3px gold solid;
    color: #fff;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 40px;
    cursor: pointer;
}
button:hover{
    background: rgb(8, 8, 103);
}